[submodule "public/js/osmtogeojson"]
	path = public/js/osmtogeojson
	url = https://github.com/tyrasd/osmtogeojson.git
[submodule "public/js/geojsontoosm"]
	path = public/js/geojsontoosm
	url = git@github.com:gplv2/geojsontoosm.git
