[submodule "osmtogeojson"]
    path = osmtogeojson
    url = https://github.com/tyrasd/osmtogeojson.git

[submodule "geojsontoosm"]
    path = geojsontoosm
    url = git@github.com:gplv2/geojsontoosm.git

